
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/tutorial" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Tutorial
								
							</span>
						</a>
					</li>
					<li class="nav-item">
							<a href="/help-and-documentation" class="nav-link ">
								<span class="pcoded-micon">
									<i class="feather icon-layout"></i></span><span class="pcoded-mtext">Help & Documentation
								</span>
							</a>
						</li>
					<!--<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Page layouts</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html">Vertical</a></li>
					        <li><a href="/layout-horizontal.html">Horizontal</a></li>
					    </ul>
					</li>-->
					<li class="nav-item pcoded-menu-caption">
						<label>Project</label>
					</li>
					<li class="nav-item">
						<a href="/create-project" class="nav-link ">
							<span class="pcoded-micon">
								<i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Create Project
							</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/list-project" class="nav-link ">
							<span class="pcoded-micon">
								<i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">List Project
							</span>
						</a>
					</li>
				

				</ul>
				
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
