{% extends "main/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="row">
               <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Add Feature</h5>
                            <hr>
                            <form method="POST" enctype="multipart/form-data" class="post-form" action="/add-feature/hasil">
                                {% csrf_token %}
                                <div class="form-group">
                                    <h6>Feature Name</h6>
                                    <input type="text" class="form-control" name="featureName" id="featureName" placeholder="Enter Feature Name">
                                </div>
                                <div class="form-group">
                                    <h6>User Story</h6>
                                    <input type="text" class="form-control" id="userStory" name="userStory" placeholder="Enter User Story">
                                    <small id="userStory" class="form-text text-muted">Format: As a [role], I want to [action], so that I [benefit]</small>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <h6>User Scenario</h6>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select id="userScenario1" class="form-control" name="tipe1">
                                            <option selected>Given</option>
                                            <option>When</option>
                                            <option>Then</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-10">
                                        <input type="text" class="form-control" id="content" name="content1" placeholder="Enter User Scenario">
                                        <small id="jenisScenario1" class="form-text text-muted">Ex: "I go to URL", "Im on Layout"</small>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select id="userScenario2" class="form-control" name="tipe2">
                                            <option selected>Given</option>
                                            <option>When</option>
                                            <option>Then</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-10">
                                        <input type="text" class="form-control" id="content" name="content2" placeholder="Enter User Scenario">
                                        <small id="jenisScenario2" class="form-text text-muted">Ex: "I click on Play button"</small>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select id="userScenario3" class="form-control" name="tipe3">
                                            <option selected>Given</option>
                                            <option>When</option>
                                            <option>Then</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-10">
                                        <input type="text" class="form-control" id="content" name="content3" placeholder="Enter User Scenario">
                                        <small id="jenisScenario3" class="form-text text-muted">Ex: "The System should display Tutorial"</small>
                                    </div>
                                </div>
                                <button type="button" class="btn  btn-danger">Cancel</button>
                                <button type="submit" class="btn  btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
