{% extends "main/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="row">
               <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Add Feature</h5>
                            <p>{{ context.project.project_name }}</p>
                            <hr>
                            <form method="POST" enctype="multipart/form-data" class="post-form" action="/add-feature/store">
                                {% csrf_token %}
                                <input type="hidden" name="project_id" id="project_id" value="{{ context.project_id }}">
                                <div class="form-group">
                                    <h6>Feature Name</h6>
                                    <input type="text" class="form-control" name="featureName" id="featureName" placeholder="Enter Feature Name">
                                </div>
                                <div class="form-group">
                                    <h6>User Story</h6>
                                    <input type="text" class="form-control" id="userStory" name="userStory" placeholder="Enter User Story">
                                    <small id="userStory" class="form-text text-muted">Format: As a [role], I want to [action], so that I [benefit]</small>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <h6>User Scenario</h6>
                                        <p>Please fill in the scenario based it types. Pay attention to the instruction below: </p>
                                        <button 
                                            class="btn btn-success my-1" 
                                            type="button" 
                                            data-toggle="collapse" 
                                            data-target="#instructionCollapse" 
                                            aria-expanded="false" 
                                            aria-controls="collapseExample"
                                            >Instruction
                                        </button>
                                        <div class="collapse" id="instructionCollapse">
                                            <div class="card">
                                                <div class="card-body">
                                                    <ul>
                                                        <li>
                                                            <b>Given</b><br>
                                                            Defining pre-condition (actor's current location) <br>
                                                            <i>example</i> : I go to #Dashboard page#, Im on #Layout#, etc.
                                                        </li>
                                                        <li>
                                                            <b>When</b><br>
                                                            Defining actor's action to the system<br>
                                                            <i>example</i> : I #click on login button#, I #fill the new account form#, etc.
                                                        </li>
                                                        <li>
                                                            <b>Then</b><br>
                                                            Defining system's responses<br>
                                                            <i>example</i> : The system #add new project#, The system should #display new project#, etc.
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% for p in context.scenarios_count %}
                                        <div class="form-group col-md-2">
                                            <select class="form-control" name="tipe{{ p }}">
                                                    <option selected>Given</option>
                                                    <option>When</option>
                                                    <option>Then</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-10">
                                            <input type="text" class="form-control" name="content{{ p }}" placeholder="Fill the scenario here">
                                            <!--<small id="jenisScenario1" class="form-text text-muted">Ex: "I go to URL", "Im on Layout"</small>-->
                                        </div>
                                        {% if p == context.count|add:"-1" %}
                                            <div class="form-group col-md-12 mb-5">
                                                <a 
                                                    href="/add-feature/{{ context.project.id_project }}/{{ context.count|add:'1' }}"
                                                    class="btn btn-success btn-sm-block"
                                                    >
                                                    + Add More Scenario
                                                </a>
                                                {% if context.count > 3 %}
                                                    <a 
                                                        href="/add-feature/{{ context.project.id_project }}/{{ context.count|add:'-1' }}"
                                                        class="btn btn-warning btn-sm-block ml-2"
                                                        >
                                                        - Decrease Scenario
                                                    </a>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn  btn-danger">Cancel</button>
                                <button type="submit" class="btn  btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}
