{% extends "main/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<!-- prism css -->
<link rel="stylesheet" href="/static/assets/css/plugins/prism-coy.css">
<!-- vendor css -->
<link rel="stylesheet" href="/static/assets/css/style.css">
    <!-- [ Main Content ] start -->
    <section class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">Help and Documentation</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/tutorial"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#!">Help and Documentation</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
                <!-- [ fixed-layout ] start -->
				<div class="row">
					<!-- [ form-element ] start -->
					<div class="col-sm-12">
						<div class="card col-md-12">
					<div class="accordion" id="accordionExample">
						<div class="card mt-3">
							<div class="card-header" style="background-color:white" id="headingOne">
								<h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Tutorial</a></h5>
							</div>
							<div id="collapseOne" class=" card-body collapse show"  style="background-color:white" aria-labelledby="headingOne" data-parent="#accordionExample">
								Tutorial is a page that explains the procedures or steps that can be done on the features that exist in this application. This is intended to make it easier for users to obtain information in the use of this website.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingTwo">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Create Project</a></h5>
							</div>
							<div id="collapseTwo" class="collapse card-body" style="background-color:white" aria-labelledby="headingTwo" data-parent="#accordionExample">
								Create Project is a page that serves to create a new project on this website. On the create project page there are several forms that the user must fill out, such as the project name and project description.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingThree">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">List Project</a></h5>
							</div>
							<div id="collapseThree" class="card-body collapse" style="background-color:white" aria-labelledby="headingThree" data-parent="#accordionExample">
								List Project is a page that displays all the projects that have been created in that account. On this page there is a search feature that you can use to find the project you need. In addition, on this page each project will display edit and delete features that can be used if you want to change the contents of the project or delete the project. 
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingFour">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Detail Project</a></h5>
							</div>
							<div id="collapseFour" class="card-body collapse" style="background-color:white" aria-labelledby="headingFour" data-parent="#accordionExample">
								Detail Project is a page that displays the detailed contents of a project. This page contains the names of features that have scenarios created in a project. These details can be found in each project in the project list.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingFive">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Add Feature</a></h5>
							</div>
							<div id="collapseFive" class="card-body collapse" style="background-color:white" aria-labelledby="headingFive" data-parent="#accordionExample">
								Add Feature is a feature that is used to add features that contain forms that must be filled out based on a user story scenario that will be generated into a sequence diagram. In filling out the form there are conditions that must be considered in writing so that the results produced are maximized.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingSix">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Add Scenario</a></h5>
							</div>
							<div id="collapseSix" class="card-body collapse" style="background-color:white" aria-labelledby="headingSix" data-parent="#accordionExample">
								Add Scenario is a feature that is used to add alternative scenarios apart from the main scenario. In the alternative scenario there is only one condition that can be added, namely the “then” condition.
							</div>
						</div>
						<div class="card">
							<div class="card-header" style="background-color:white" id="headingSeven">
								<h5 class="mb-0"><a href="#!" class="collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">Generate Sequence</a></h5>
							</div>
							<div id="collapseSeven" class="card-body collapse" style="background-color:white" aria-labelledby="headingSeven" data-parent="#accordionExample">
								Generate Sequence is a feature that will be used to convert a previously created scenario into a sequence diagram. This generator can be found on the project detail page for each feature that has been created
							</div>
						</div>
					</div>
				</div>
				<!-- [ accordion-collapse ] end -->
			</div>
			</div>
			<!-- [ Main Content ] end -->
		
                <!-- [ fixed-layout ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}