{% extends "main/layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}	
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- [ fixed-layout ] start -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h3>List Project</h3>
                    </div>
                    <div class="card-body">
                        <p>Halaman ini berisikan seluruh project yang sudah dibuat.</p>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Project Name</th>
                                        <th>Date Created</th>
                                        <th>Last Updated</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for p in context.project %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ p.project_name }}</td>
                                            <td>{{ p.date_created }}</td>
                                            <td>{{ p.last_updated }}</td>
                                            <td>
                                                <a href="detail-project/{{ p.id_project }}">
                                                    <button class="btn btn-primary">
                                                        Detail
                                                    </button>
                                                </a>
                                                <a href="delete-project/{{ p.id_project }}">
                                                    <button class="btn btn-danger">
                                                        Delete
                                                    </button>
                                                </a>
                                            </td>
                                        </tr>
                                        <p>{{ p.project_name }}</p>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ fixed-layout ] end -->
        </div>
    <!-- [ Main Content ] end -->
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Apex Chart -->
    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <!-- custom-chart js -->
    <script src="/static/assets/js/pages/dashboard-main.js"></script>

{% endblock javascripts %}